<nb-card>
    <nb-card-header>
      Users Details
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source"  (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="onModalShow($event)">
      </ng2-smart-table>
    </nb-card-body>
</nb-card>
<nb-sidebar _ngcontent-wve-c215="" tag="settings-sidebar" state="collapsed" fixed="" class="settings-sidebar fixed end collapsed" _nghost-wve-c111="">
  <div _ngcontent-wve-c111="" class="main-container main-container-fixed" style="overflow-y: scroll;">
    <div _ngcontent-wve-c111="" class="scrollable">
      <ngx-theme-settings _ngcontent-wve-c215="" _nghost-wve-c213="">
        <img src="../assets/images/cancel-button.png" class="cancel-btn-pop" (click)="closeFunction()">
        
        <div _ngcontent-wve-c213="" class="settings-row mt-25">
            <nb-card>
                <i class="nb-edit edit-icon-btn" (click)="editFunction()"></i>
                <nb-card-header>Edit User Details</nb-card-header>
                <nb-card-body>
                  <form [formGroup]="form" (ngSubmit)="submitForm()">
                    <div class="form-group">
                        <label for="userFirstName" class="label">First Name</label>
                        <input type="text" nbInput fullWidth id="userFisrtName"   (focusout) = "focusoutHandlerFirstName($event)" placeholder="First Name" value="{{firstname}}" name="firstname" [readonly]="isReadonly">
                    </div>
                    <div class="form-group">
                        <label for="userLastName" class="label">Last Name</label>
                        <input type="text" nbInput fullWidth id="userLastName" (focusout) = "focusoutHandlerLastName($event)" placeholder="Last Name" value="{{lastname}}" name="lastname" [readonly]="isReadonly">
                    </div>
                    <div class="form-group">
                      <label for="userEmail" class="label">Email</label>
                      <input type="email" nbInput fullWidth id="userEmail" (focusout) = "focusoutHandlerEmail($event)" placeholder="Enter Email" value="{{email}}" name="email" [readonly]="isReadonly">
                    </div>
                    <div class="form-group">
                        <label for="userPhone" class="label">Phone Number</label>
                        <input type="text" nbInput fullWidth id="userPhone" (focusout) = "focusoutHandlerPhone($event)" placeholder="Phone Number" value="{{phone}}" name="phone" [readonly]="isReadonly">
                    </div>
                    <!-- <div class="form-group">
                      <label for="userPassword" class="label">Password</label>
                      <input type="password" nbInput fullWidth id="userPassword" placeholder="Enter Password" value="{{password}}" name="password">
                    </div> -->
                    <div class="form-group">
                        <label for="userCountryCode" class="label">Country Code</label>
                        <input type="text" nbInput fullWidth id="userCountryCode" (focusout) = "focusoutHandlerCountry($event)" placeholder="Country Code" value="{{countryCode}}" name="countryCode" [readonly]="isReadonly">
                    </div>
                    <div class="form-group">
                        <label for="userMedium" class="label">Medium Of Registration</label>
                        <input type="text" nbInput fullWidth id="userMedium" (focusout) = "focusoutHandlerUsermedium($event)" placeholder="Medium Of Registration" value="{{mediumOfRegistration}}" name="mediumOfRegistration" [readonly]="isReadonly">
                    </div>
                    <div class="form-group">
                        <label for="userChildrens" class="label">No Of Childrens</label>
                        <input type="text" nbInput fullWidth id="userChildrens" (focusout) = "focusoutHandlerChildrens($event)" placeholder="No Of Childrens" value="{{noOfChildrens}}" name="noOfChildrens" [readonly]="isReadonly">
                    </div>
                    <div class="form-group">
                        <label for="userAddress" class="label">Address</label>
                        <input type="text" nbInput fullWidth id="userAddress" (focusout) = "focusoutHandlerAddress($event)" placeholder="Address" value="{{address}}" name="address" [readonly]="isReadonly">
                    </div>
                    <div class="form-group">
                        <label for="userStatus" class="label">Status</label>
                        <input type="text" nbInput fullWidth id="userStatus" (focusout) = "focusoutHandlerStatus($event)" placeholder="Status" value="{{status}}" name="status" [readonly]="isReadonly">
                    </div>
                   
                    <button type="button"  class="nbButton-primary" (click)="saveEditData()">SAVE</button>
                  </form>
                </nb-card-body>
              </nb-card>          
          </div>
            </ngx-theme-settings>
          </div>
        </div>
      </nb-sidebar>

