@import '../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}
.fixed[_nghost-wve-c111] {
  position: fixed;
  height: 100%;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
}
.cancel-btn-pop {
  width: 20px;
  position: relative;
  left: 95%;
  cursor: pointer;
}
.nbButton-primary {
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  border: none;
  padding: 7px 20px;
  background: #5385ff;
  color: #fff;
  border-radius: 5px;
}
.mt-25{
  margin-top: 25px;
}
.settings-sidebar .main-container,nb-sidebar.settings-sidebar.fixed.end.expanded.dataSideBar{
  width: 18rem !important;
}
.nb-edit.edit-icon-btn {
  font-size: 40px;
  position: absolute;
  left: 75%;
  top: 1.5%;
  cursor: pointer;
}